
/* Navbar css use section */
a.from-after:hover:after { transform: scaleX(1); }
a:after {
  display:block;
  content: '';
  width: inherit;
  border-bottom: solid 2px #F68921;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  padding-top: 7px;
}

a.from-after:hover:after { transform: scaleX(1); }


.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
}




.play-icon path {
  transition: fill 0.3s ease-in-out;
}

.play-icon:hover path {
  fill: #F68921; /* Change the fill color on hover */
}
