@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Navbar css */
.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
  /* Add additional styling like background color, box-shadow, etc. */
  background-color: #F8FAFC; /* Example background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box-shadow */
}



/* an‌​imate-bounce-custom img banner section */
/* styles.css */
.smooth-bounce {
  animation: smoothBounce 5s infinite;
}

@keyframes smoothBounce {
  0%, 100% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


/* Banner img */
.bg-custom {
  background-image: url('https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762_1280.jpg');
}





/* about client slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  
  object-fit: cover;
}
.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 1.5rem; 
}
.mySwiper .swiper-pagination-bullet {
  background-color: #182b50; 
}





/* devider icon */
.hr-icon {
  height: 5px;
  width: 70px;
  background: #182b50;
  border-radius: 2px;
  position: relative;
  margin-left: 20px;
  left: 0;
  display: inline-block;
 
}
.hr-icon::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #182b50;
  box-shadow: 9px 0 0 0 #182b50, 18px 0 0 0 #182b50;
}








